# Node
node_modules/
package-lock.json
yarn.lock

# Bedrock dev artifacts
*.mcworld
*.mcpack
*.mcaddon
*.zip

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.suo
*.user

# Logs
*.log
npm-debug.log*

# Env / local config
.env
.env.local
